.card {
  width: 100%;
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgHolder {
  width: 500px;
  height: 300px;
  border-radius: 30px;
  border: solid 3px #0b2f47;
}
.imgHolder img {
  width: 500px;
  height: 300px;
  border-radius: 30px;
}
.placeDetails {
  width: 500px;
  padding: 0px 40px;
}
.placeDetails h2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}
.placeDetails p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #94a9b7;
  margin-bottom: 15px;
}
.btnDetails {
  width: 150px;
  height: 45px;
  padding: 8px 10px;
  border-radius: 8px;
  border: none;
  background-color: #33cccc;
  color: #000000;
  font-size: 1.25rem;
  cursor: pointer;
  margin-top: 15px;
}

.btnDetails:hover {
  box-shadow: 0px 0px 32px 0px rgba(51, 204, 204, 0.32),
    0px 1px 2px 0px rgba(12, 44, 65, 0.08), 0px 0px 0px 1px #1aadad inset;
}
.moreDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 80px;
  width: 100%;
}
.d-more p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #94a9b7;
}
.d-more {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gallery {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery img {
  width: 395px;
  height: 250px;
  border-radius: 30px;
}

.gallery img:hover {
  transform: scale(1.1);
}
.nav-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.nav-bar a {
  color: #94a9b7;
}
.nav-bar-holder {
  display: flex;
  width: 900px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px 112px;
  background-color: transparent;
  font-size: 1.5rem;
  border-bottom: #94a9b7;
}
.footer-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: #94a9b7;
}
.footer-bar a {
  color: #53626c;
}
.footer-bar-holder {
  display: flex;
  width: 900px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px 112px;
  background-color: transparent;
  font-size: 1.5rem;
  border-top: #94a9b7;
}
